* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.mainbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0.4% 15% / 10%);
  transition: 0.3s;
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid black;
  outline-color: #4c47a4;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: #4c47a4;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  font-family: "Montserrat", sans-serif;
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: #4c47a4;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.btn-buy:hover {
  background: black;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 25px;
}
a {
  text-decoration: none;
  /* color: rgb(19, 19, 19); */
  color: wheat;
}
p {
  color: rgb(19, 19, 19);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.columns {
  margin-top: 80px;
  /* min-width: 300px; */
}
.columns img {
  max-width: 100%;
  padding: 50px 0;
}
.columns h1 {
  color: wheat;
  font-size: 80px;
  /* margin: 25px 0; */
  font-family: "Passions Conflict", cursive;
}
.btn1 {
  display: inline-block;
  background: #4c47a4;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.3s;
}

.btn1:hover {
  background: #373478;
}

.btn {
  display: inline-block;
  background: #4c47a4;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #373478;
}

.header {
  /* background: radial-gradient(white, #c5e8ed) */
  background-image: url("./images/tetbg.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 90vh;
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.columns2 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.columns2 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.columns3 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.3s;
}
.columns3 img {
  width: 100px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(55, 55, 55);
}
.title::after {
  content: "";
  background: #514b9a;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: rgb(55, 55, 55);
  font-weight: normal;
}
.columns3:hover {
  transform: translateY(-5px);
}
.op {
  text-decoration: line-through;
}
.dp {
  color: #4c47a4;
}
.brands {
  margin: 100px auto;
}
.columns4 {
  width: 160px;
}
.columns4 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.columns4 img:hover {
  filter: grayscale(0);
}
.footer {
  background: rgb(19, 19, 19);
  color: #a8a8a8;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #a8a8a8;
}
.footer h3 {
  color: white;
  margin-bottom: 20px;
}
.footercollumns1 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 30%;
}
.footercollumns2 {
  min-width: 250px;
  margin-bottom: 20px;
  flex: 1;
  text-align: center;
}
.footercollumns2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footercollumns3 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 12%;
  text-align: center;
}
.footercollumns4 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.cr {
  text-align: center;
}
.mi {
  width: 25px;
  margin-left: 20px;
  display: none;
}

.account-page {
  padding: 50px 0;
  background: #c5e8ed;
}

.form-container {
  background: white;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px black;
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: rgb(55, 55, 55);
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #333;
}
form .btn1 {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn1:focus {
  outline: none;
}
#RegForm {
  left: 0;
}
form a {
  font-size: 12px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #4c47a4;
  height: 3px;
  margin-top: 8px;
}

@media only screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: auto;
    background: #333;
    width: 150px;
    overflow: hidden;
    transition: max-height 1s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
  }
  .mi {
    display: block;
    cursor: pointer;
  }
  .cart {
    width: 320px;
  }
}

.row2 {
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
}

select {
  border: 1px solid #4c47a4;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #4c47a4;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.page-btn span:hover {
  background: #4c47a4;
  color: white;
}

@media only screen and (max-width: 800px) {
  .row {
    text-align: center;
  }
  .columns {
    flex-basis: 100%;
  }
  .columns2 {
    flex-basis: 100%;
  }
  .columns3 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .columns {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 30px;
    line-height: 20px;
  }
}

.single-product {
  margin-top: 80px;
}
.single-product .columns img {
  padding: 0;
}
.single-product .columns {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #4c47a4;
}
.single-product input:focus {
  outline: none;
}
.single-product .fa {
  color: #4c47a4;
  margin-left: 10px;
}

/* Tet */

.tet_container {
  width: 75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.box {
  display: flex;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 30px;
  border-radius: 30px;
}

.box .content {
  padding-right: 100px;
  font-size: 24px;
}

.content h1 {
  margin-bottom: 20px;
}

.box1 img {
  width: 600px;
  height: 600px;
}

.box2 img {
  width: 500px;
}

li:hover{
  text-decoration: underline;
}

.columns2::hover {
  
}